*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    background-image:linear-gradient(to right,#CCFFCC,#CCFFFF);
}
#Title{
    position: absolute;
    top: 10px;
    width: 100%;
    font-size: 38px;
    line-height: 200px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#saying{
    position: absolute;
    top: 60px;
    width: 100%;
    font-size: 15px;
    line-height: 50px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#back{
    position: relative;
    height:30%;
    width: 40%;
    left:30%;
    top:25%;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}
#down{
    position: relative;
    top:60%;
    left:15%;
}